body{
	background-color:#000000;
	overflow: hidden
}

#nav{
	width:100%;
	height:40px;
	background-color: #999da3;
	padding:7px;
}

#nav-button{
	float:left;
}

#panel1{
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
}

#panel2{
    position: absolute;
    top: 50vh;
    left: 200vw;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
}

#rightButton{
	position: absolute;
	width: 50px;
	height: 200px;
	top: 50vh;
	left: 100vw;
	margin-left: -50px;
	margin-top: -100px;
	background-color:#999da3;
}

#leftButton{
	position: absolute;
	width: 50px;
	height: 200px;
	top: 50vh;
	left: 0vw;
	margin-top:-100px;
	background-color:#999da3;
}

#date{
	position: absolute;
	font-size: 200%;
	color: #999da3;
	left:45%;
	top:7%;
}

l.verticalLine{
	color:#777777;
	margin-left: 20px;
	margin-right: 20px;
	float:left;
}